@import "@bcgov/bc-sans/css/BCSans.css";
@import "@fontsource-variable/noto-sans-canadian-aboriginal";
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "@fortawesome/fontawesome-free/css/solid.min.css";

:root {
  font-family: 'Noto Sans Canadian Aboriginal Variable', "BCSans", Helvetica, sans-serif !important;

  /* bootstrap defaults */
  --bs-font-sans-serif: 'Noto Sans Canadian Aboriginal Variable', "BCSans", Helvetica, sans-serif ;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-font-monospace: 'Noto Sans Canadian Aboriginal Variable', "BCSans", Helvetica, sans-serif ;
}

html, body {
  height: 100vh;
  width: 100vw;
}

#app {
  height: 100vh;
  width: 100vw;
}

a[href^="http://"]::after, a[href^="https://"]::after {
  content: "\F1C5";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 0.5ex;
}